:root{
    --primery-text-color: #757575;
    --background-color:#FFFFFF;
    --selection-color:#212121;
    --accent-color:#2196F3;
    --section-color: #E5E5E5;
    --button-bg-color:#F5F4FA;
    --footer-color:rgba(255, 255, 255, 0.6);
    --hero-color:#2F303A;
}

body {
    background-color: var(--background-color); 
    color: var(--primery-text-color);


    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.conteiner{
    display: flex;
    align-items: center;
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
   
}

.head{

    background-color: var(--background-color);
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
    
}
.firstpart{
    color: var(--accent-color);
}
.logo {
    color: var(--selection-color);
    text-decoration: none;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    

}

.logo:hover, .logo:focus{
    color: var(--accent-color);
}



.site-nav{
    display: flex;
    margin-left: 93px;
}

.site-nav .iteam + .iteam{
    margin-left: 50px;
}


.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--selection-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.19;
    letter-spacing: 0.02em;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav{
    display: flex;
    margin-left: auto;
    

}

.auth-nav .iteam + .iteam{
    margin-left: 50px;
}



.auth-nav .link{
    color: var(--primery-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.hero{

    background-color: var(--hero-color);
    text-align: center;
}

.first-button{
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 136px;
    text-align: center;
    border: 1px solid transparent;
    background-color: var(--accent-color);
    color: var(--background-color);

    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--background-color);
    
    
    font-weight: 700;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.section{
    
    margin-top: 94px;
    margin-bottom: 94px;
    color: var(--section-color);
}

section.no-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.section-title {
    color: var(--selection-color);
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
    
}

.section-title.centered{
    
    text-align: center;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

}

.feature-list .iteam{
    margin-right: 15px;
    width: 270px;
}

.feature-list .title{
    color: var(--selection-color);
    margin-top: 0;
    margin-bottom: 10px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
}

.feature-list .text{
    color: var(--primery-text-color);

    font-size: 14px;
    line-height: 1.71;
}

.work-list{
    display: flex;
    color: var(--selection-color);
}

.work-list .iteam{

    margin-right: 30px;

}

.worker-list{
    display: flex;
    justify-content: flex-start;
}

.worker-list .worker{
    
    margin-top: 50px;
    margin-right: 30px; 
    margin-bottom: 94px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    outline: aqua;
    border-radius: 0px 0px 4px 4px;
}


.worker-list .title{
    
    color: var(--selection-color);
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 64px;
    margin-right: 64px;
    
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}

.worker-list .text{
    color: var(--primery-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
    
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.feature-list, .work-list, .worker-list{
    list-style: none;
}

.footer{
    margin-top: 94px;
    background-color: var(--hero-color)
}

.footer .logo{
    color: var(--background-color);
}

.footer .logo:hover,
.footer .logo:focus{
    color: var(--accent-color);
}



.foot-nav .basement .address{
    color: var(--background-color);
    text-decoration: none;

    font-size: 14px;
    line-height: 1.71;
}

.foot-nav .basement .address:hover,
.foot-nav .basement .address:focus{
    color: var(--accent-color);
}


.foot-nav .basement .link{
    
    color: var(--footer-color);
    text-decoration: none;

    font-size: 14px;
    line-height: 1.71;
}


.foot-nav .basement .link:hover,
.foot-nav .basement .link:focus{
    color: var(--accent-color);
}



.button-list{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 100px;
    margin-bottom: 56px;
}

.button-list .iteam + .iteam{
    margin-left: 8px;
}

.button-list .second-button{
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: 1px solid transparent;
    text-align: center;
    background-color: var(--button-bg-color);
    color: var(--selection-color);
}

.button-list .second-button:hover,
.button-list .second-button:focus{
    background-color: var(--accent-color);
    color: var(--background-color);
}


.block-list{
    padding-top: 50px;
    list-style: none;
    
}

.block-list .block{

    border: 1px solid #EEEEEE;
    outline: blue;
}

.block-list .link{
    text-decoration: none;
}

.block-list .title{
   
    color: var(--selection-color);
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.block-list .text{

    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    margin-right: 24px;

    color: var(--primery-text-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
}

.basement{
    list-style: none;
}

.test-conteiner{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

.flex-container .block-list{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex-element.block{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
}
.flex-element .block:nth-child(3n){
    margin-right: 0;
}

.flex-element .block:nth-last-child(-n + 3){
    margin-bottom: 0;
}






/* колір основного текста #212121 */
/* другорядний колір rgba(33, 33, 33, 1) */

/* акцент #2196F3 */
/* білий  #FFFFFF */
/* сірий rgba(117, 117, 117, 1)*/
